<ion-header [translucent]="true" [style.--background]="'#00263E'">
    <ion-toolbar [style.--background]="'black'">
      <br>
      <img class="logoSecundario" src="assets/DuocLogo2.png" alt="">
      <ion-title #titulo style="text-align:center;">
        Sistema de Asistencia DUOC
      </ion-title>
      <br>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-text-center ion-padding-vertical">
    <ion-card-header>
      <ion-card-title>Recuperar Constraseña</ion-card-title>
      <br>
      <ion-card-subtitle id="pasos">Paso 2: Responde la pregunta secreta</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <ion-item>
        <ion-card-subtitle>{{pregunta}}</ion-card-subtitle>
        <ion-label position="floating">Ingrese su respuesta</ion-label>
        <ion-input type="text" id="respuesta" [(ngModel)]="respuesta" ></ion-input>
      </ion-item>
      <br>
      <ion-col class="ion-text-center" style="text-align: center;">
        <ion-button shape="round" fill="solid" [style.--background]="'#f1b634'" (click)="recuperarContra()" #recuperar>Recuperar Contraseña</ion-button>
      </ion-col>
    </ion-card-content>
    
    <br>

    <ion-col class="ion-padding-vertical ion-text-center">
      <ion-router-link [routerLink]="['/login']" class="underline" #iniciar>Iniciar Sesión</ion-router-link>
    </ion-col>
  </ion-card>
</ion-content>

